@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

body{
  position:relative;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(51, 51, 51, .5);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
f
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(51, 51, 51, .25);
  color: #F8512F;
}

/*Carousel Styles*/
.item {
  height: 550px;
  background-size: cover;
  background-position: center;
}

#woodbg {
  background-image: url('../img/wood-2.jpg');
}

#slide-logo {
  height: 250px;
}

.flex {
  display: flex;
  align-items: center;
  height: 550px;
}

#seatingbg {
  background-image: url('../img/restaurant-2.jpg');
}

#farmbg {
  background-image: url('../img/farm-2.jpg');
}

.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}

.btn-warning:hover {
  background-color: #D34326;
  border-color: #D34326;
}

.carousel-caption {
  margin-bottom: 45px;
}

.left-col h1 {
  color: #F8512F;
  font-family: 'Lobster', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}
.left-col h3 {
  margin-top: 0px;
}
.right-col .year {
  font-family: 'Playfair Display';
  font-weight: 900;
  position: absolute;
  z-index: -1;
  color: rgba(51, 51, 51, 0.1);
  font-size: 170px;
}

.mainsection {
  margin: 10% auto;
}

/*Review Styles*/

#review {
  height: 550px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.fresnoreview {
  height: 200px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}
.fresnoreview h1 {
  color: #F8512F;
  font-family: 'Lobster', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}

.fresnoreview p {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Lato' , sans-serif ;
  text-shadow: 1px 1px 2px #333;
}

.reviewsection .flex {
  display: flex;
  align-items: center;
  height: 550px;
}

/*Menu Styles*/
#menu {
  height: 600px;
  background-image: url('../img/black_linen.png');
}

#menu h1 {
  color: #FFF;
  font-family: 'Lobster', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
}

.food {
  background-color: #FFF;
  overflow:auto;
  height: 425px;
  padding: 8px 12px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, #menu a{
    color: #F8512F;
    text-transform: uppercase;
    cursor: default;
}

.nav-tabs.nav-justified>.active>a:hover, .nav>li>a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
/*
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    color: #F8512F;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(51, 51, 51, .05);
    color: #F8512F;
}*/
